*{
    margin : 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    height : 100vh;
    width: 100vw;
    border: 1px solid black;
    background-color: yellow;
}

.item{
    height: 100px;
    width: 100px;
    border: 1px solid black;
}

#item1{
    background-color: red;
}

#item2{
    background-color: green;
}

#item3{
    background-color: blue;
}

