* {
    margin : 0;
    padding : 0;
    box-sizing: border-box;
    
}

body {
  font-family: 'Inter', sans-serif;

}

.top{
    font-style: Inter;
    display: flex;
    background-color: #FFCD9E;
    justify-content: space-around;
    text-align: left;
}

.innertop{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin: 5%;

}

p{
    padding: 5px 0px 5px 0px;
}

.main{
    font-weight: 700;
    font-size: 36px;
    line-height: 36px;
    text-decoration: #282828;
    padding: 20px 0px 20px 0px;
}

.content{
    padding: 10px 0px 10px 0px;
    font-size: 15px;
    font: weight 20px;
    line-height: 12px;
    color: #484848;
    letter-spacing: 0.5px;
}

.note{
    font-size: 12px;
    color: #fff;
    font-weight: 25px;
    padding: 10px 20px 10px 20px;
}

.small{
    font-size: 20px;

}

input{
    padding: 10px;
    border-radius: 5px;
    border-width: 3px;
    border-color: black;
    border-style: solid;
    text-decoration-color: #888888;
}

.image{
    height:550px;
    width: 550px;
}

form{
    padding: 25px 0px 10px 0px;
}

button{
    border-color: #282828;
    border-radius: 5px;
    border-width: 14px;
    padding: 13px 30px 13px 30px;
    background-color: #282828;
    color: #fff;
    box-shadow: none;
    border-style: none;
    margin-left: 10px;
}


footer{
    display:flex;
    background-color: #282828;
    justify-content: space-around;
    color: #fff;

}


li{
    font-weight: 100;
    font-size: 14px;
    list-style-type: none;
    padding: 6px;
}

.left, .right{
    margin:15px;
}

.right{
    text-align: right;
}